[Desktop Entry]
Type=Application
Version=1.0
Name=MHSS
GenericName=Milis Fast Selling System
GenericName[tr]=Milis Hızlı Satış Sistemi
Comment=Barcode sales system for small businesses
Comment[tr]=Küçük ölçekli işletmeler için barkodlu satış sistemi
Icon=/usr/share/mhss/mhss.png
Exec=/usr/bin/mhss
Terminal=false
Categories=System;Monitor;ConsoleOnly;General;
Keywords=system;sales;selling;barcode;barkod;hızlı;satış;
