Package: mhss
Version: 0.3.5-1
Architecture: amd64
Maintainer: mamoo <mamoo81@gmail.com>
Installed-Size: 5836
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libqt6charts6 (>= 6.6.1), libqt6core6t64 (>= 6.8.2), libqt6gui6 (>= 6.1.2), libqt6multimedia6 (>= 6.6.1), libqt6network6 (>= 6.1.2), libqt6printsupport6 (>= 6.1.2), libqt6serialport6 (>= 6.6.0), libqt6sql6 (>= 6.8.2), libqt6widgets6 (>= 6.1.2), libstdc++6 (>= 5), zint, postgresql, postgresql-client
Section: utils
Priority: optional
Homepage: https://github.com/mamoo81/bhss
Description: MHSS - Market Hizli Satis Sistemi
 MHSS (Market Hizli Satis Sistemi), magazalar ve marketler icin
 barkodlu satis, stok takibi, cari hesap ve kasa yonetimi
 ozelliklerini bir arada sunan bir masaustu uygulamasidir.
